@{
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
    ViewData["Title"] = "Universidad";
}

<div class="contenedor">
    <!-- 📸 Imagen de matrículas -->
    <div class="estudiante-image">
        <img src="~/images/estudiante_dashboard.png" alt="Matrículas 2025">
    </div>

    <div class="contenedor-texto">
        <div class="titulo">
            <p><strong>Universidad</strong></p>
    </div>
        <div class="subtexto">
    <p>Realice sus matrículas acá!</p>
        </div>
    </div>


   