@model List<ProyectoFinal_VargasValeria.Models.Carrera>

@{
    Layout = "_LayoutUser";
    ViewData["Title"] = "Carreras Disponibles";
}
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">


<div class="main-container">
   
    <div class="text-center mt-4">
        <h1 class="fw-bold text-brown">Sobre <span class="text-secondary">nosotros</span></h1>
    </div>

    <!-- Contenido -->
    <div class="row align-items-center mt-4">
       
        <div class="col-md-6">
            <div class="about-text p-4 rounded">
                
            </div>
        </div>
    </div>
</div>

