@{
    ViewData["Title"] = "Seleccionar Rol";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <div class="login-box">
        <h2>Selecciona tu rol</h2>
        <a class="btn-custom" asp-action="Login" asp-route-role="Alumno">Alumno</a>
        <a class="btn-custom" asp-action="Login" asp-route-role="Administrador">Administrador</a>
    </div>
</div>
